*{
  margin:0;
  box-sizing:border-box;
}
:root{
	--primary-color: linear-gradient( 90deg, #E84AD2 0%, #4B9BE0 100% );
	--secndery-color:#36bb91;
	--black-color:#020710;
	--white-color:#fff;
	--warning-color:#ffaf2b;
	--text-black-50:#a4a9ac;
	--fs-13:13px;
	--fs-14:14px;
	--fs-15:15px;
	--fs-16:16px;
	--fs-18:18px;
	--fs-20:20px;
	--fs-22:22px;
	--fs-28:28px;
	--fs-32:32px;
	--fs-43:43px;
	--fs-46:46px;
	--fs-48:48px;
	--fs-54:54px;
	--fs-76:76px;
	--fw-100:100;
	--fw-200:200;
	--fw-300:300;
	--fw-400:400;
	--fw-500:500;
	--fw-600:600;
	--fw-700:700;
	--fw-800:800;
	--fw-900:900;
	--padding-left:12px;
	--padding-right:12px;
	--Inter:Inter; /*  font */
	--Space-Grotesk:Space Grotesk; /*  font */
	--DM-Sans:DM Sans; /*  font */
}
.container{
	max-width:1120px;
	margin:0 auto;
	padding-left:var(--padding-left);
	padding-right:var(--padding-right);
}
body{
	background-color:black;
	font-family:var(--Inter);
	font-size:var(--fs-14);
}
.row{
	display:flex;
	flex-wrap:wrap;
	padding-left:-12px;
	padding-right:-12px;
}

.d-flex{
	display:flex;
	flex-wrap:wrap;
	
}


.w-1{
	width:8.33%;
}
.w-2{
	width:16.66%;
}
.w-3{
	width:25%;
}
.w-4{
	width:33.33%;
}
.w-5{
	width:41.66%;
}
.w-6{
	width:50%;
}
.w-7{
	width:58.33%;
}
.w-8{
	width:66.66%;
}
.w-9{
	width:75%;
}
.w-10{
	width:83.33%;
}
.w-11{
	width:91.66%;
}
.w-12{
	width:100%;
}


.w-1 .w-2 .w-3 .w-4 .w-5 .w-6 .w-7 .w-8 .w-9 .w-10 .w-11 .w-12{
	padding-left:var(--padding-left);
	padding-right:var(--padding-right);
}
a{
	text-decoration:none;
	color:var(--white-color);
	font-weight:var(--fw-500);
}
ul li{
	list-style:none;
}
.justify-end{
	justify-content:flex-end;
}
.justify-center{
	justify-content:center;
}
.align-center{
	align-items:center;
}

/* nevbar start */

header{
	padding:20px 40px;
	width:100%;
	position:absolute;
}

header .logo a{
	font-size:var(--fs-28);
	font-weight:var(--fw-700);
	color:white;
	text-decoration:none;
}

header .menu ul li a{
	font-size:var(--fs-15);
}

header .menu ul li{
	padding:0 20px;
}

header .menu ul li a i{
	font-size:11px;
}
header .menu ul li:last-child a{
	border:1px solid white;
    border-radius:10px;
    padding:10px 25px;	
}
header .menu ul li:last-child a:hover{
	background-color:var(--white-color);
	color:black;
	transition:01s;
}
header .menu ul li {
	padding:0 20px;
}
header .menu ul li a:hover{
	color:#36bb91;
}
header .menu ul li:hover a i{
	transform:rotate(-180deg);
	transition:0.5s;
}

/* nevbar end */

/* banner start */
.banner{
	background-size:cover;
	background-image:url('../img/banner.png');
	border-bottom:1px solid var(--text-black-50	);
	
	
}
.banner .banner-content{
	padding-top:220px;
}

.banner .banner-content span{
	font-family:var(--Inter);
	font-size:var(--fs-16);
	font-weight:var(--fw-700);
	background-image:var(--primary-color);
	background-clip:text;
	color:transparent;
	letter-spacing: 1px;
}

.banner .banner-content h1{
	font-family:var(--Space-Grotesk);
	font-size:var(--fs-76);
	font-weight:var(--fw-800);
	line-height: 1.2em;
	letter-spacing: 0px;
	color:var(--white-color);
	letter-spacing: 1px;
	margin:25px 0 0 0;
}

.banner .banner-content p{
	
	line-height: 1.7em;
	letter-spacing: 0px;
	color:var(--text-black-50);
	margin:25px 0;
	
}

.banner .banner-content a button, .concept .concept-content button{
	width:170px;
	height:60px;
	font-family:var(--Space-Grotesk);
	font-size:var(--fs-18);
	font-weight:var(--fw-600);
	line-height: 1.7em;
	letter-spacing: -0.3px;	
	background:var(--primary-color);
	text-align:center;	
	border-radius:10px;
	margin:20px 0;
	overflow:hidden;
	transition:1s;
}
.banner .banner-content button:hover, .concept .concept-content button:hover{
	transform:translatey(-30%);
		
}

.banner .banner-content h2{
	color:white;
	font-family:var(--DM-Sans);
	font-size:var(--fs-46);
	font-weight:var(--fw-700);
	padding-right:20px;
}

.banner .banner-content ul{
	padding-left:0;
}

.banner .banner-content  ul li {
	padding:0 30px;
	margin:50px 0;
}

.banner .banner-content  ul li:first-child {
	border-right: 2px solid var(--text-black-50);
	padding-left:0;
}

.banner .banner-content  ul li:last-child {
	padding-right:0 ;
}

.banner .banner-img img{
	width:700px;
	padding-top:140px;	
	padding-bottom:0px;	
}

.banner .banner-content .circle{
	position:absolute;
	right:700px;
	top:150px;
	animation: spin 10s linear infinite;
}

.banner .banner-content .circle img  {
	width:100px;

}

@keyframes spin{
	0%{
		transform:rotate(0deg);
	}
	70%{
		transform:rotate(360deg);
	}
	100%{
		transform:rotate(-360deg);
	}
}


/* banner end */

/*  bas company start*/

.company{
	padding:80px 0;	
}
.company .company-img{
	width:130px;
	height:30px;
}
.company .company-img img{
	width:100%;
	height:100%;
	object-fit:contain;
}
/* bas company end*/

/* basconcept start */
.concept{
	background:#020710;
}

.concept .concept-img img{
	width:100%;
}
.concept-img {
  position: relative;
  z-index:1;
}

.concept-img::after {
  content: '';
  position: absolute;
  top: 30px;
  right:50px;
  z-index:-1;
  box-sizing: border-box;
  background-image: url('../img/ring.png');
  background-repeat: no-repeat;
  background-size: contain; 
  width: 90%;
  height: 100%;
  opacity: 0.15;

}



.concept .concept-content h2 , .model .model-cotent h2{
	color:var(--white-color);
	font-family:var(--Space-Grotesk);
    font-size: var(--fs-48);
    font-weight: var(--fw-700);
    line-height: 1.1em;
}

.concept .concept-content span , .model .model-cotent span{
	background-image:linear-gradient( 90deg, #A38DFD 0%, #F2ABF3 100%);
	background-clip:text;
	color:transparent;
}

.concept .concept-content{
	padding:110px 40px;
}

.concept .concept-content p{
	color:var(--text-black-50);
    font-family:var(--DM-Sans);
    font-size: var(--fs-18);
    font-weight: var(--fw-400);
    line-height: 1.9em;
	padding:20px 0;	
}

.concept .concept-content .circle{
	position:absolute;
	right:750px;
	top:1050px;
	animation:spin 10s linear infinite;
}

.concept .concept-content .circle img{
	width:100px;
}

.concept .concept-content .star img{
	width:50px;
	position:absolute;
	right:300px;
	top:1100px;
	background-size:cover;
}
.order{
	order:-1;
}
/* basconcept end */

/* modal star */

.modal-img::after {
  content: '';
  position: absolute;
  top: 100px;
  left: 0;
  box-sizing: border-box;
  background-image: url('../img/ring2.png');
  background-repeat: no-repeat;
  background-size: contain; 
  /* background-attachment: cover;  */
  width: 100%;
  height: 100%;
  opacity: 0.15;
  z-index: -1;
}

.modal .concept-content button{
	border: 1px solid white;
    border-radius: 10px;
    padding: 10px 25px;
	background-color:var(--white-color)!important;
	background-image:none;
/* modal end */


 /* ragister start */
.register-main{
	padding:80px 0;
}
.register-main .register{
	background-image:linear-gradient( 90deg, #A38DFD 0%, #F2ABF3 100%);
	width:100%;
	padding:60px 80px;
	border-radius:20px;
}
.register-main .register h2{
	font-family:var(--Space-Grotesk);
    font-size: var(--fs-43);
}
.register-main .register p{
	font-family:var(--dm-sans);
    font-size: var(--fs-20);
}
.register-main .register-button img{
	width:100%;
}
   /* ragister end */