*{
    margin:0;
    box-sizing: border-box;
}
.body{
	 background-image:url('../img/6.jpeg');
}
.container{
    max-width: 1140px;
    margin:0 auto;
}
.main-box{
    width:100%;
    height:500px;
    background-color:#5B054A ;
    margin:50px 0;
}
.box1{
    width:300px;
   color:white;
    border: 10px DOUBLE black;
    display: inline-block;
    margin:100px 50px;
    padding: 20px;
}
.square{
    width:300px;
   color:white;
    border: 10px DOUBLE black;
    display: inline-block;
    padding: 20px;
    float: auto;
}
.box2{
    width:300px;
    color: white;
    border: 10px DOUBLE black;
    display: inline-block;
    margin:100px 50px;
    padding: 20px;
}



.main-box1{
    width:100%;
    height:500px;
    background:  linear-gradient(90deg, rgba(78,78,78,1) 0%, rgba(9,9,121,1) 58%, rgba(0,212,255,1) 100%);
    margin:50px 0;
}
.box3{
    width:300px;
    color:yellow;
    border: 10px INSET white;
    display: inline-block;
    margin:100px 50px;
    padding: 20px;

}
.box4{
    width:300px;
    color: yellow;
    border: 10px INSET white;
    display: inline-block;
    margin:100px 50px;
    padding: 20px;
}
.sqaure1{
    width:300px;
    color: yellow;
    border: 10px INSET white;
    display: inline-block;
    float: left;
    padding: 20px;   
    margin-top: 100px;
    margin-left: 20px;
}




.main-box2{
    width:100%;
    height:500px;
   background-image:url('../img/1.jpg');
   background-size:cover;
   background-position:center;
    margin:50px auto;
}
.box5{
    width:300px;
    color:white;
    border: 10px GROOVE #E6E610   ;
    display: inline-block;
    margin:100px 50px;
    padding: 20px;
}
.box6{
    width:300px;
    color: antiquewhite;
    border: 10px GROOVE #E6E610 ;
    display: inline-block;
    margin:100px 50px;
    padding: 20px;
}
.square2{
    width:300px;
    color: antiquewhite;
    border: 10px GROOVE #E6E610 ;
    display: inline-block;
    float:right;
    padding: 20px;
    margin-top: 90px;
    margin-left: 20px;
}




.main-box3{
    width:100%;
    height:500px;
   background-image:url('../img/2.WEBP');
   background-size:cover;
   background-position:center;
   background-color:rgba(0,0,0,0.5);
   background-blend-mode: darken;
    margin:50px 0;
}
.box7{
    width:300px;
    color:antiquewhite;
    border:10px GROOVE #6D4978  ;
    display: inline-block;
    margin:100px 50px;
    padding: 20px;
}
.box8{
    width:300px;
    color: white;
    border: 10px GROOVE #6D4978 ;
    display: inline-block;
    margin:100px 50px;
    padding: 20px;
}
.square3{
    width:300px;
    color: white;
    border: 10px GROOVE #6D4978 ;
    display: inline-block;
    float: left;
    padding: 20px;
}





.main-box4{
    width:100%;
    height:500px;
   background-image:url('../img/3.WEBP');
   background-size:cover;
   background-position:center;
   background-color:rgba(0,0,0,0.5);
   background-blend-mode: darken;
    margin:50px 0;;
}
.box9{
    width:300px;
    color:white;
    border: 10px RIDGE #89808C ;
    display: inline-block;
    margin:100px 50px;
    padding: 20px;
}
.box10{
    width:300px;
    color:white;
    border: 10px RIDGE #89808C;
    display: inline-block;
    margin:100px 50px;
    padding: 20px;
}
.sqaure4{
    width:300px;
    color:white;
    border: 10px RIDGE #89808C;
    display: inline-block;
float: right;
    padding: 20px;
}






.main-box5{
    width:100%;
    height:500px;
   background-image:url('../img/4.jpeg');
   background-size:cover;
   background-position:bottom;
    margin:50px 0;
}
.box11{
    width:300px;
    color:black;
    border: 10px dotted black;
    display: inline-block;
    margin:100px 50px;
    padding: 20px;
}
.box12{
    width:300px;
    color:black;
    border: 10px dotted black;
    display: inline-block;
    margin:100px 50px;
    padding: 20px;
}
.sqaure5{
    width:300px;
    color:black;
    border: 10px dotted black;
    display: inline-block;
    margin:10px 10px;
    float: left;
    padding: 20px;
}